.field-with-text {
    font-size: 24px;
}

.waiting {
    color: rgb(104, 104, 104);
}

.right {
    color: black;
    background-color: rgba(10, 170, 10, 0.513);
}

.mistake {
    color: black;
    background-color: rgba(219, 9, 9, 0.548);
}

.next {
    border-bottom: 3px solid rgba(128, 128, 128, 0.596);
}

.user-input-area {
    width: 0;
    height: 0;
    opacity: 0;
}

.block-user-info {
    margin: 5px;
    width: 50%;
    height: 40px;
}

.disconnect-user {
    background-color: rgba(212, 23, 23, 0.527) !important;
}

.user-field {
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(139, 127, 127, 0.589);
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-bottom: 10px;
}

.user-score {
    display: inline-block;
    margin-left: 20px;
}